<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Managment User</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addUser" type="submit">Add User</button>
        </div>
      </div>
  </nav>



  <table class="table ">
      <thead>
        <tr>
          <th scope="col">ID User</th>
          <th scope="col">first Name</th>
          <th scope="col">last Name</th>
          <th scope="col">email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of utilList">
          <td>{{user.idUser}}</td>
          <td>{{user.firstNameUser}}</td>
          <td>{{user.lastNameUser}}</td>
          <td>{{user.emailUser}}</td>
          <td>
              <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editUser" (click)="editUser(user)">Edit</button>
              <button type="button" class="btn btn-outline-danger" (click)="deleteUser(user.idUser)">Delete</button>
          </td>

        </tr>

      </tbody>
    </table>


<!-- Add utilisateur modal -->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form [formGroup]="utilDetail">
              <div class="mb-3">
                  <label for="exampleInputNom" class="form-label">FirstName </label>
                  <input type="text" formControlName="firstNameUser" class="form-control" id="firstNameUser" aria-describedby="firstname">
                </div>
                <div class="mb-3">
                  <label for="exampleInputprenom" class="form-label">LastName </label>
                  <input type="text" formControlName="lastNameUser" class="form-control" id="lastNameUser" aria-describedby="lastName">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email </label>
                  <input type="email" formControlName="emailUser" class="form-control" id="emailUser" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword" class="form-label">Password </label>
                  <input type="password" formControlName="passwordUser" class="form-control" id="passwordUser" aria-describedby="password">
                </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser()">Add User</button>
                </div>
            </form>

      </div>

    </div>
  </div>
</div>


<!-- Edit Utilisateur modal -->
<div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form [formGroup]="utilDetail">
            <div class="mb-3">
              <label for="exampleInputNom" class="form-label">FirstName </label>
              <input type="text" formControlName="firstNameUser" class="form-control" id="firstNameUser" aria-describedby="firstname">
            </div>
            <div class="mb-3">
              <label for="exampleInputprenom" class="form-label">LastName </label>
              <input type="text" formControlName="lastNameUser" class="form-control" id="lastNameUser" aria-describedby="lastName">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email </label>
              <input type="email" formControlName="emailUser" class="form-control" id="emailUser" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Password </label>
              <input type="password" formControlName="passwordUser" class="form-control" id="passwordUser" aria-describedby="password">
            </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="button" class="btn btn-outline-success" (click)="updateUser()" data-bs-dismiss="modal">Update User </button>
                </div>
            </form>

      </div>
    </div>
  </div>
</div>


</div>
